* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  padding: 15px;
  text-transform: uppercase;
}
ul {
  list-style: none;
}
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: green;
}
