* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
body {
  background-color: #1eaa90; 
}

section {
  padding: 15px;
  text-transform: uppercase;
}
ul {
  list-style: none;
}
.red {
  color: red;
  font-weight: 700;
}
.blue {
  color: blue;
  font-weight: 700;
}
.green {
  color: green;
  font-weight: 700;
}
