* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
body {
  background-color: #1eaa90;
}
h1 {
  color: #ffffff;
}
section {
  padding: 15px;
  text-transform: uppercase;
}
ul {
  list-style: none;
}
.red {
  color: red;
  font-weight: 700;
}
.blue {
  color: blue;
  font-weight: 700;
}
.green {
  color: green;
  font-weight: 700;
}
#generator_button:focus,
#annuler_button:focus {
  outline: none;
  background-color: rgba(199, 164, 246, 0.6);
}
#generator_button,
#annuler_button {
  background-color: red;
  color: #ffffff;
  text-transform: uppercase;
}
